p {
  line-height: 2rem;
}

h1,
h2,
h3 {
  font-weight: 700;
}

img {
  width: 100% !important;
  height: auto;
}

figure.small img {
  width: auto !important;
}

figure.small {
  text-align: center;
}
figcaption {
  font-style: italic;
  text-align: center;
  font-size: 12px;
}
nav a {
  color: white;
}

/* Wrap some links in a span and add this class, if you want to emphasize there are multiple links in a row*/
.link-underline a {
  text-decoration: underline !important;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: underline !important;
}

@media (max-width: 767px) {
  html {
    font-size: 18px !important;
  }
}

summary:hover {
  text-decoration: underline;
}
